<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.hiring.test-runtime.cleanup</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>-lc</string>
    <string>cd "__HIRING_DIR__" &amp;&amp; ./cleanup_test_runtime.py --older-than-days 7 --review-file _test_runtime/cleanup_review_required.md</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>3</integer>
    <key>Minute</key>
    <integer>20</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>__HIRING_DIR__/_test_runtime/cleanup.log</string>
  <key>StandardErrorPath</key>
  <string>__HIRING_DIR__/_test_runtime/cleanup.err.log</string>
</dict>
</plist>
